<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="duke" class="com.uttara.springidol.Juggler">
		<constructor-arg value="15" type="int"></constructor-arg>
	</bean>
	
	<bean id="poem" class="com.uttara.springidol.BingoPoem"/>
	
	<bean id="hans" class="com.uttara.springidol.PoeticJuggler">
		<constructor-arg value="15"></constructor-arg>
		<constructor-arg ref="poem"></constructor-arg>
	</bean>

</beans>
